@import url(./reset.css);
html{
	width: 100%;
	height: 100%;
	overflow:hidden;
	display: block;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #fff;
}
#scene1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: url(../images/bg1.jpg) no-repeat;
	background-size: cover; 
}
#scene2{
	width: 100%;
	height: 100%;
	position: absolute;;
	left: 100%;
	background: #00868B;
}
#scene3{
	width: 100%;
	height: 100%;
	position: absolute;;
	left: 100%;
	background: #000;
}
.logo1{
	left: 50%;
	top: 15%;
	width: 300px;
	height: 185px;
	position: absolute;
	margin-left: -150px;
}
.start1{
	left: 50%;
	top: 65%;
	width: 75px;
	height: 75px;
	position: absolute;
	margin-left: -37px;
}
#timer{
	color: white;
	text-align: right;
	font-size: 2em;
	margin-top: 1em;
	margin-right: 1em;
}
.timerStyle{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 1px solid white;
	border-radius: 5em;
}
#math{
	color: #fff;
	text-align: center;
	margin-top:130px;
	font-size: 90px;
	margin-bottom: 150px;
}
#rightbtn{
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 30%;
	margin-top: －200px;
}
#wrongbtn{
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 50px;
	margin-top: －200px;
}
#level{
	color: red;
	text-align: center;
	font-size: 70px;
	margin-top: 150px;
}
#warning{
	color: white;
	text-align: center;
	font-size: 22px;
}
#slogen{
	margin-bottom: 30px;
}
#record{
	text-align: center;
}
#recordNew{
	color: #999999;
}
#recordBest{
	margin-left: 10px;
	color: #999999;
}
.start2{
	float: left;
	width: 250px;
	height: 450px;
	margin-left: 130px;
	margin-top: -250px;
}
#btn3{
	width: 180px;
	margin: 30px auto;
}
#start3{
	float: left;
	width: 65px;
	height: 65px;
}
#share3{
	float: left;
	width: 65px;
	height: 65px;
	margin-left: 50px;
}